*.exe
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/bin/Debug/BubbleSort.exe.config
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/obj/Debug/SortAlgorithms.csproj.FileListAbsolute.txt
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/bin/Debug/BubbleSort.pdb
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/bin/Debug/BubbleSort.vshost.exe.config
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/bin/Debug/BubbleSort.vshost.exe.manifest
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.manifest
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/Properties/AssemblyInfo.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/Program.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/obj/Debug/BubbleSort.csproj.FileListAbsolute.txt
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/bin/Debug/SortAlgorithms.exe.config
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/SortAlgorithms/bin/Debug/SortAlgorithms.vshost.exe.config
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Sorting Algorithm/Sorting Algorithm For C#/SortAlgorithms/BubbleSort/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache